@import "src/styles";

$title-color: #626262;
$label-font-size: 1rem;
$font-main: 'operatorMonoBoldItalic', sans-serif;

.listLayout {
  background-color: #999999;
  width: 350px;
  padding: .5rem;
  height: fit-content;
  margin: .5rem;
  border: 3px solid black;
  border-radius: .5rem;
  transition: opacity 0.7s ease-in-out;

  &:hover {
    border: 4px solid greenyellow;
    //transform: scale(1.05);
  }

  &_section {
    //background-color: #FEE01C;

    &_header {
      //background-color: #0086e4;
      display: flex;
      width: 100%;
      margin-bottom: .5rem;

      &_listTitleEditableInput {
        font-family: $font-main;
        width: 100%;
        border: none;
        //outline-color: blue;
        border-radius: .5rem;
        padding: 5px;
      }

      &_elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        &_listTitle {
          //background-color: green;
          font-size: 1.3rem;
        }

        &_deleteButton {
          color: #000;
          //background-color: darkgoldenrod;
          cursor: pointer;
          transition: opacity 0.3s ease-in-out;
          opacity: 0.4;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &_cards {
      //background-color: #F5BA58;
      width: 100%;
      min-height: 317px;
      max-height: 475px;
      overflow: scroll;
      cursor: grab;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
