@import "fonts";
@import "colors";

$title-color: #626262;
$label-font-size: 1rem;
$font-main: 'operatorMonoBoldItalic', sans-serif;
$defaultBlueColor: #0086e4;


.dashboardLayout {
  box-sizing: border-box;
  background: $background-color;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overscroll-behavior-x: none;

  &_container {
    position: absolute;
    top: 7rem;
    right: 2rem;
    width: fit-content;
    display: flex;
    overflow: hidden;

    &_form {
      background-color: transparent;
      display: flex;
      justify-content: center;
      border-radius: 4px;

      &_input {
        //background: #ff3860;
        border: 2px solid black;
        border-radius: 4px;
        font-family: $font-main;
        width: 325px;
        height: 60px;
        font-size: 1.3rem;
        padding: 10px;
        box-sizing: border-box;
        align-self: center;
        margin-right: .5rem;
      }
    }

    &_cancelButton {
      color: white;
      width: 70px;
      border-radius: 4px;
      font-family: $font-main;
      font-size: 1rem;
      background-color: $defaultBlueColor;
    }
  }


  &_title {
    background: #ff3860;
    position: absolute;
    top: 3rem;
    left: 2rem;
  }

  &__options {
    //background-color: black;
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: .3rem;
    border-radius: 4px;

    &_photo {
      margin-right: .4rem;
      border-radius: 50%;
      background-color: #ff3860;
      width: 1rem;
      height: 1rem;
    }

    &_settings {
      margin-right: .4rem;
      border-radius: 50%;
      background-color: #b86bff;
      width: 1rem;
      height: 1rem;
    }

    &_projects {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      background-color: #F5BA58;
      margin-right: .4rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      cursor: context-menu;
    }


  }


  &_addProjectButton {
    font-family: $font-main;
    font-size: 1rem;
    background: $defaultBlueColor;
    color: white;
    position: absolute;
    right: 2rem;
    top: 4rem;
    border: none;
    border-radius: 4px;
    padding: .3rem;


    &:hover {
      background-color: lighten($defaultBlueColor, 10%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0, 0, 0, 0.24);
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.signOutButton {
  background: transparent;
  font-family: $font-main;
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  border: none;

  &:hover {
    color: $defaultBlueColor;
    transform: scale(1.03);
  }
}

.logout-svg {
  height: 40px;
  background: transparent;
}

.time {
  color: black;
  position: absolute;
  top: 2rem;
}
