@import "../../../styles";
@import "addListButton";
@import "filterPanel";

$title-color: #626262;
$label-font-size: 1rem;
$defaultBlueColor: #0086e4;
$gradientBackground: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$backgroundSize: 400% 400%;

.boardLayout {
  box-sizing: border-box;
  background: $gradientBackground;
  background-size: $backgroundSize;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &_title {
    position: absolute;
    top: 3rem;
    left: 2rem;
  }

  &_backButton {
    color: black;
    height: 32px;
    width: 32px;
    position: absolute;
    bottom:2rem;
    left:2rem;
    z-index: 1000;
  }

  &__container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    &::-webkit-scrollbar {
      display: none;
    }

    &_topbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 45px;
      margin-bottom: .5rem;
    }

    &__draggable-area {
      background-color: #FEE01C;
      overflow: hidden;
      width: 100%;
      height: 100%;
      float: left;

      &_boards {
        background-color: #0086e4;
        display: flex;
        height: 100%;
        width: fit-content;
        flex-direction: row;
        padding-top: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        cursor: ew-resize;
        box-shadow: inset 0 0 10px;
        user-select: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
