@import "fonts";
@import "colors";
@import "addListButton";
@import "filterPanel";

$title-color: #626262;
$label-font-size: 1rem;

.boardLayout {
  //background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  //overflow: hidden;

  &__container {
    //background-color: #F5BA58;
    box-sizing: border-box;
    max-width: 1200px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    &::-webkit-scrollbar {
      display: none;
    }

    &_topbar {
      //background-color: #626262;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 45px;
      margin-bottom: .5rem;
    }

    &__draggable-area {
      background-color: #FEE01C;
      overflow: hidden;
      width: 100%;
      height: 100%;
      float: left;
      &_boards {
        background-color:#0086e4;
        display: flex;
        height: 100%;
        width: fit-content;
        flex-direction: row;
        padding-top: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;
        cursor: ew-resize;
        box-shadow: inset 0 0 10px;
        user-select: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
