@import "cardActionButtons";
@import "cardTags";
@import "../../../styles";

$title-color: #626262;
$label-font-size: 1rem;
$font-size: .9rem;

:root {
  --display-none: flex;
}

.anim {
  transform: translateX(0);
  animation-name: scrolling;
  animation-duration: var(--anim-duration);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  //left: 50%
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
    //left: 0
  }
  15% {
    transform: translateX(0);
    //left: 0
  }
  85% {
    transform: translateX(-10%);
    //left: 100%
  }
  100% {
    transform: translateX(-10%);
    //left: 100%
  }
}

.cardLayout {
  display: var(--display-none);
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  min-height: fit-content;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: .5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
  }

  /* title section of card */
  &__topbar {
    //background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .2rem;
    border-bottom: 2px solid black;

    &__label {
      //background-color: #b86bff;
      color: black;
      font-size: 1rem;
      width: 170px;
      display: flex;
      justify-content: start;
      overflow: hidden;

      .input-label {
        color: #999999;
        font-family: $font-main;
        font-size: 1rem;
        border: none;
        background: transparent;
        width: 90px;
      }

      &_text {
        display: inline-block;
        color: black;
        //width: fit-content;
        white-space: nowrap;
        text-align: left;

        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }

  &_participants {
    //background-color: #FEE01C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: .5rem;
    margin-bottom: .5rem;

    .reporter {
      background-color: #F5BA58;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      margin-top: .5rem;

      &_label {
        //background: aquamarine;
        display: flex;
        color: $title-color;
        font-size: $font-size;
      }

      &_type {
        //background-color: #0086e4;
        font-size: 1rem;
        color: black;

        &__select {
          //background-color: #0086e4;
          color: #999999;
          font-family: $font-main;
          font-size: 1rem;
          border: none;

          &_option {
            //background-color: orange;
          }
        }
      }
    }

    .assignee {
      //background-color: #F5BA58;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      //margin-top: .5rem;

      &_label {
        //background: aquamarine;
        display: flex;
        color: $title-color;
        font-size: $font-size;

      }

      &_type {
        //background-color: #0086e4;
        font-size: 1rem;
        color: black;

        &__select {
          //background-color: #0086e4;
          color: #999999;
          font-family: $font-main;
          font-size: 1rem;
          border: none;

          &_option {
            font-size: 1rem;
            //background-color: orange;
          }
        }
      }
    }
  }

  &__description {
    font-family: $font-main;
    //background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

    &_label {
      display: flex;
      color: $title-color;
      font-size: $font-size;

    }

    .input-value {
      color: #cacaca;
      font-family: $font-main;
      font-size: 1rem;
      border: none;
      background: transparent;
      width: 100%;

      input[type=text] {
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

