
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  border-radius: 8px;
  transform: rotate(-5deg);
  transform-origin: 0 0;
  vertical-align: middle;

  &__img {
    display: block;
    object-fit: cover;
    height: 36px;
    width: 36px;
    transform: rotate(5deg);
  }
}
